<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login</h1>
    <div>
        <form action="/login" method="POST">
            <div>
                <label for="userName">Username : </label>
                <input type="text" name="userName" id="userName" required>
            </div>
            <div>
                <label for="password">Password : </label>
                <input type="password" name="password" id="password" required>
            </div>
            <button type="submit">Login</button>
        </form>
        <div>
            <p>If you haven't registered yet register <a href="/register">here</a></p>
        </div>
    </div>
</body>
</html>